# --- Identity Service & Postgres ---
ID_POSTGRES_USER=postgres
ID_POSTGRES_PASSWORD=postgres
ID_POSTGRES_DB=identity
JWT__KEY=YourSuperSecretKeyThatIsAtLeast32CharactersLong

# --- Aggregator Service & Postgres ---
AGGR_POSTGRES_USER=postgres
AGGR_POSTGRES_PASSWORD=postgres
AGGR_POSTGRES_DB=aggregator

# --- STIX Mongo DB ---
STIX_MONGO_USER=placeholder
STIX_MONGO_PASSWORD=placeholder
STIX_MONGO_DB=stix_db

# --- Microservice URLs (Docker intern) ---
IDENTITY_URL=http://identity:8080
AGGREGATOR_URL=http://aggregator:8080

# --- OpenTelemetry / SigNoz ---
OTEL_EXPORTER_OTLP_ENDPOINT__URL=http://localhost:4317
OTEL_EXPORTER_OTLP_ENDPOINT__KEY=geheimerKeys
AGGR_OTEL_SERVICE_NAME=sims-aggregator
INC_OTEL_SERVICE_NAME=sims-incidentManager

# --- Email ---
EMAIL_SERVER=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=asdf@gmail.com
EMAIL_SECRET=xxxx

# --- Cloudflare Tunnel (optional) ---
TUNNEL_TOKEN=placeholder_fuer_tunnel_token